<p>
  Hello <%= @user.email %>!
</p>

<p>
  Choose a subdomain below to login to your account.
</p>

<ul>
  <% @carriers.each do |carrier| %>
    <li>
      <%= link_to(carrier.name, new_user_session_url(host: carrier.subdomain_host)) %>
    </li>
  <% end %>
</ul>

<p class="text-muted">If you didn't request this, please ignore this email.</p>
