<%= tag.div data: { controller: "masked-content", "masked-content-raw-content-value": raw_content } do %>
  <code data-masked-content-target="content"><%= masked_content %></code>
  <button class="btn btn-secondary btn-sm" title="Reveal" data-action="masked-content#reveal" data-masked-content-target="revealButton">
    <i class="fas fa-eye"></i>
  </button>
<% end %>
