option_settings:
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: 'true'

  - namespace: aws:ec2:vpc
    option_name: ELBScheme
    value: public

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: ''

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-f546e791,subnet-908052e6

  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-48cf212c

  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-f546e791,subnet-908052e6
