files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_nginx_setup.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      WEBAPP_CONFIG_FILE=$EB_SUPPORT_DIR/conf/webapp.conf
      WEBAPP_HEALTH_CONFIG_FILE=$EB_SUPPORT_DIR/conf/webapp_healthd.conf
      CONFIGURATION_COMMENT="Added by custom ebextension"

      WEBAPP_CONFIG_FILES=($WEBAPP_CONFIG_FILE $WEBAPP_HEALTH_CONFIG_FILE)

      for webapp_config_file in "${WEBAPP_CONFIG_FILES[@]}"
      do
        if ! grep -q "$CONFIGURATION_COMMENT" $webapp_config_file && [ ! -f $webapp_config_file.default ]; then
          cp $webapp_config_file $webapp_config_file.default
        fi
        cat $webapp_config_file.default | \
          tr '\n' '\r' | sed -e "s/\(location\s\+\/assets\s\+{\r[^}]*\)\(\s\{2\}}\)/\1    include \/etc\/nginx\/conf.d\/cors_fonts; # $CONFIGURATION_COMMENT\r\2/" | tr '\r' '\n' | \
          tr '\n' '\r' | sed -e "s/\(location\s\+\/\s\+{\r[^}]*}\)/\1\r\r  include \/etc\/nginx\/conf.d\/health_checks; # $CONFIGURATION_COMMENT/" | tr '\r' '\n' | \
          tr '\n' '\r' | sed -e "1s/^/include \/etc\/nginx\/conf.d\/nginx_proto_map; # $CONFIGURATION_COMMENT\r\r/" | tr '\r' '\n' > $webapp_config_file
      done

      ln -sf $EB_SUPPORT_DIR/conf/cors_fonts /etc/nginx/conf.d/
      ln -sf $EB_SUPPORT_DIR/conf/bongloy_js /etc/nginx/conf.d/
      ln -sf $EB_SUPPORT_DIR/conf/health_checks /etc/nginx/conf.d/
      ln -sf $EB_SUPPORT_DIR/conf/nginx_proto_map /etc/nginx/conf.d/

      service nginx restart

  "/opt/elasticbeanstalk/support/conf/cors_fonts":
    mode: "000644"
    content: |
      if ($request_filename ~* ^.*?\.(eot)|(ttf)|(woff)|(svg)|(otf)|(woff2)$){
        add_header Access-Control-Allow-Origin *;
      }

  "/opt/elasticbeanstalk/support/conf/health_checks":
    mode: "000644"
    content: |
      location /health_checks {
        proxy_pass http://my_app; # match the name of upstream directive which is defined above
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $http_proto;
      }

  "/opt/elasticbeanstalk/support/conf/nginx_proto_map":
    mode: "000644"
    content: |
      map $http_x_forwarded_proto $http_proto {
        default "http";
        https   "https";
        ""      "https"; # For ELB Health Checks
      }
