files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/log/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/applogs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/log/*.log

  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.applogs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/log/*.log {
        size 10M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat %s
        olddir /var/app/current/log/rotated
      }

  "/etc/cron.hourly/cron.logrotate.elasticbeanstalk.applogs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      test -x /usr/sbin/logrotate || exit 0
      /usr/sbin/logrotate /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.applogs.conf

  "/etc/awslogs/config/applogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [applogs.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/applogs.log"]]}`
      log_stream_name={instance_id}
      file=/var/app/current/log/*.log

  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_logrotate.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      mkdir /var/app/current/log/rotated
      chown webapp:webapp /var/app/current/log/rotated

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
