files:
  "/root/.ruby_profile":
    mode: "000644"
    content: |
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      source $EB_SUPPORT_DIR/envvars
      source $EB_SCRIPT_DIR/use-app-ruby.sh

  "/opt/elasticbeanstalk/hooks/postinit/setup_session_manager.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      echo "[[ -f /root/.ruby_profile ]] && source /root/.ruby_profile" >> /root/.bash_profile
