/////////////////////
// COLORS
////////////////////

$brand-color: #06D19C;
$nav-bg-color: #6C63FF;

/////////////////////
// BACKGROUND COLORS
////////////////////

$main-bg: #F7F7F7;
$nav-bg: $nav-bg-color;
$nav-active-bg: $brand-color;
$nav-subitem-bg: $nav-bg-color;
$lang-select-pressed-bg: $brand-color;
$lang-select-active-bg: $brand-color;
$nav-active-parent-bg: $nav-bg-color;

/////////////////////
// TEXT COLORS
////////////////////

$nav-text: #fff;
$nav-active-text: #fff ;
$nav-active-parent-text: #fff;
$main-text: #333;
