<li id="accountSwitcher" class="nav-item dropdown">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-cloud mfe-2"></i>
      <%= current_account.name %>
    </button>

    <div class="dropdown-menu">
      <div class="dropdown-header bg-light py-2">
        <strong>My Accounts</strong>
      </div>

      <% current_user.account_memberships.includes(:account).each do |account_membership| %>
        <% unless account_membership == current_account_membership %>
          <%= button_to(dashboard_account_session_path(account_membership: { id: account_membership.id }), class: "dropdown-item", method: :post) do %>
            <i class="fa-solid fa-cloud mfe-2"></i> <%= account_membership.account.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
