<% if notice.present? %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <%= notice.html_safe %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <%= alert.html_safe %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
