<% disabled = local_assigns.fetch(:disabled, false) %>

<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="<%= disabled ? local_assigns.fetch(:disabled_title, "Delete") : "Delete #{pluralize(number_with_delimiter(total_records), 'record')}" %>">
  <%= button_to(
    path,
    class: "btn btn-outline-danger",
    form_class: "d-inline",
    title: "Delete",
    method: :delete,
    disabled:,
    form: {
      data: {
        turbo_confirm: "This action will delete #{pluralize(number_with_delimiter(total_records), 'record')}. This action cannot be undone. Are you sure you want to continue?" }
      }
    ) do %>
    <i class="fas fa-trash-alt"></i> <span class="badge bg-danger""><%= number_with_delimiter(total_records) unless disabled %></span>
  <% end %>
</span>
