<%= page_title(title: "Notification Preferences") %>
<div class="card-body">
  <%= simple_form_for(@resource, url: dashboard_notification_preferences_path) do |f| %>
    <%= f.input(
      :subscribed_notification_topics,
      as: :check_boxes,
      wrapper: :vertical_collection_inline,
      label: "",
      hint: "Select the topics to receive notifications."
    ) %>

    <%= f.button :submit %>
  <% end %>
</div>
