<div id="default-tts-configuration" class="card mb-3">
  <div class="card-body">
    <%= f.simple_fields_for(:tts_configuration, wrapper: :input_group) do |tts_form| %>
      <h5 class="card-title">Text to speech</h5>

      <div class="row">
        <div class="col-sm-6">

          <%= tts_form.input :voice,
                      collection: tts_form.object.voice_options_for_select,
                      prompt: "",
                      input_html: { data: { behavior: "choices-input" } } %>

        </div>
      </div>
    <% end %>
  </div>
</div>
