default: &default
  secret_key_base: "<%= Rails.application.credentials.secret_key_base %>"
  mailer_sender: "support@somleng.org"
  aws_sqs_default_queue_name: <%= ENV.fetch("AWS_SQS_DEFAULT_QUEUE_NAME", "default") %>
  aws_sqs_scheduler_queue_name: <%= ENV.fetch("AWS_SQS_SCHEDULER_QUEUE_NAME", "scheduler") %>
  aws_region: <%= ENV.fetch("AWS_DEFAULT_REGION", "ap-southeast-1") %>
  uploads_bucket: <%= ENV.fetch("UPLOADS_BUCKET", "uploads.somleng.org") %>
  services_user: "services"
  services_password: "password"
  ahn_host: "https://ahn.somleng.org"
  ahn_user: "adhearsion"
  ahn_password: "password"

production: &production
  <<: *default
  default_url_host: "https://scfm.somleng.org"
  smtp_username: <%= ENV["SMTP_USERNAME"] %>
  smtp_password: <%= ENV["SMTP_PASSWORD"] %>
  smtp_address: "email-smtp.us-east-1.amazonaws.com"
  sentry_dsn: "<%= Rails.application.credentials.sentry_dsn %>"
  services_password: "<%= Rails.application.credentials.services_password %>"
  ahn_password: "<%= Rails.application.credentials.ahn_password %>"

development: &development
  <<: *default
  default_url_host: "http://localhost:3000"

test:
  <<: *development
  default_url_host: https://twilreapi.somleng.org
