default: &default
  app_subdomain: "app"
  api_subdomain: "api"
  app_url_host: <%= ENV.fetch("APP_URL_HOST", "http://app-foobar.lvh.me:3000") %>
  mailer_sender: "no-reply@somleng.org"
  aws_sqs_high_priority_queue_name: <%= ENV.fetch("AWS_SQS_HIGH_PRIORITY_QUEUE_NAME", "high-priority") %>
  aws_sqs_default_queue_name: <%= ENV.fetch("AWS_SQS_DEFAULT_QUEUE_NAME", "default-priority") %>
  aws_sqs_low_priority_queue_name: <%= ENV.fetch("AWS_SQS_LOW_PRIORITY_QUEUE_NAME", "low-priority") %>
  aws_sqs_scheduler_queue_name: <%= ENV.fetch("AWS_SQS_SCHEDULER_QUEUE_NAME", "scheduler") %>
  aws_ses_region: <%= ENV.fetch("AWS_SES_REGION", "ap-southeast-1") %>
  aws_region: <%= ENV.fetch("AWS_DEFAULT_REGION", "ap-southeast-1") %>
  uploads_bucket: <%= ENV.fetch("UPLOADS_BUCKET", "upload-bucket") %>
  raw_recordings_bucket: <%= ENV.fetch("RAW_RECORDINGS_BUCKET", "raw-recordings-bucket") %>
  recaptcha_site_key: <%= ENV.fetch("RECAPTCHA_SITE_KEY", "recaptcha_site_key") %>
  recaptcha_secret_key: <%= ENV.fetch("RECAPTCHA_SECRET_KEY", "recaptcha_secret_key") %>
  services_user: "services"
  services_password: "password"
  ahn_host: <%= ENV.fetch("AHN_HOST", "http://localhost:8080") %>
  ahn_username: "adhearsion"
  ahn_password: "password"
  admin_username: "admin"
  admin_password: "password"
  active_record_encryption:
    primary_key: 5Owbop0UTpEsYwX0wK56VM1eg4xl7LXX
    deterministic_key: 5J0sxNi4YDp5cZnfV9BhXpujwgoOvhgV
    key_derivation_salt: M8Ic6zpgGiXHYCjOH8nie0c9aMtFoPWV

production: &production
  <<: *default
  app_url_host: "https://app.somleng.org"
  asset_url_host: "https://cdn.somleng.org"
  sentry_dsn: "<%= Rails.application.credentials.sentry_dsn %>"
  services_password: "<%= ENV['SERVICES_PASSWORD'] %>"
  ahn_host: "https://ahn.somleng.org"
  inbound_sip_trunks_security_group_id: <%= ENV["INBOUND_SIP_TRUNKS_SECURITY_GROUP_ID"] %>
  recaptcha_site_key: "<%= Rails.application.credentials.recaptcha_site_key %>"
  recaptcha_secret_key: "<%= Rails.application.credentials.recaptcha_secret_key %>"
  admin_password: "<%= Rails.application.credentials.admin_password %>"
  ahn_password: "<%= Rails.application.credentials.ahn_password %>"
  skylight_authentication_token: "<%= Rails.application.credentials.skylight_authentication_token %>"
  active_record_encryption:
    primary_key: "<%= Rails.application.credentials.dig(:active_record_encryption, :primary_key) %>"
    deterministic_key: "<%= Rails.application.credentials.dig(:active_record_encryption, :deterministic_key) %>"
    key_derivation_salt: "<%= Rails.application.credentials.dig(:active_record_encryption, :key_derivation_salt) %>"

staging:
  <<: *production
  app_subdomain: "app-staging"
  api_subdomain: "api-staging"
  app_url_host: "https://app-staging.somleng.org"
  asset_url_host: "https://cdn-staging.somleng.org"
  ahn_host: "https://ahn-staging.somleng.org"

development: &development
  <<: *default

test:
  <<: *development
  ahn_host: "https://ahn.somleng.org"
  app_url_host: "http://app.lvh.me"
