groups:
  high_priority:
    concurrency: 30
    delay: 5
    queues:
      - <%= ENV.fetch("AWS_SQS_HIGH_PRIORITY_QUEUE_NAME", "high-priority") %>
  default_priority:
    concurrency: 25
    delay: 30
    queues:
      - <%= ENV.fetch("AWS_SQS_DEFAULT_QUEUE_NAME", "default-priority") %>
  low_priority:
    concurrency: 10
    delay: 30
    queues:
      - <%= ENV.fetch("AWS_SQS_LOW_PRIORITY_QUEUE_NAME", "low-priority") %>
  scheduler:
    concurrency: 3
    delay: 30
    queues:
      - <%= ENV.fetch("AWS_SQS_SCHEDULER_QUEUE_NAME", "scheduler") %>
