<div class="alert alert-info" role="alert">
  <i class="fas fa-info-circle"></i>
  <% if current_user.account_memberships.any? %>
    Please select an account.
  <% else %>
    You are not a member of any accounts.
  <% end %>
</div>
