<%= page_title(title: "Edit Account Membership", subtitle: external_link_to(@account.name, dashboard_account_memberships_path(@account))) do %>
  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_account_membership_path(@account, @resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%=
    render(
      "form",
      resource: @resource,
      url: dashboard_account_membership_path(@account, @resource),
      disable_name_input: true,
      disable_email_input: true,
      button_text: "Update Account Membership"
    )
  %>
</div>
