<%= page_title(title: "Edit User") %>

<div class="card-body">
  <%=
    render(
      "form",
      resource: @resource,
      disable_name_input: true,
      disable_email_input: true,
      button_text: "Update User"
    )
  %>
</div>
