@import "coreui/custom";
@import "@coreui/coreui/scss/coreui";

@import "bootstrap-icons/font/bootstrap-icons";
@import "choices.js/public/assets/styles/choices";
@import "air-datepicker/air-datepicker";
@import "simplebar/dist/simplebar";

#filters {
  .dropdown-menu {
    width: 15rem;
  }

  .form-check-label {
    cursor: pointer;
    font-weight: bold;
  }

  .air-datepicker {
    z-index: 9999;
  }
}
