@import "coreui/custom";
@import "@coreui/coreui/scss/coreui";

@import "direct_uploads";

@import "tom-select/dist/scss/tom-select.bootstrap5";
@import "air-datepicker/air-datepicker";
@import "simplebar/dist/simplebar";

#filters {
  .dropdown-menu {
    width: 15rem;
  }

  .form-check-label {
    cursor: pointer;
    font-weight: bold;
  }

  .air-datepicker {
    z-index: 9999;
  }
}
