<% content_for(:title) do %>
  Welcome to <%= @carrier.name %>
<% end %>

<p>Hi <%= @resource.name %>!</p>

<p>You can confirm your account email through the link below:</p>

<%= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token, host: @host), class: "btn btn-primary p-3 fw-700 ax-center" %>
