<p>Hello <%= @resource.name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<a class="btn btn-primary p-3 fw-700 ax-center" href="<%= edit_password_url(@resource, reset_password_token: @token, host: @host) %>">
   <%= t("devise.mailer.invitation_instructions.accept") %>
</a>

<p class="text-muted">If you didn't request this, please ignore this email.</p>
<p class="text-muted">Your password won't change until you access the link above and create a new one.</p>
