<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        ID
      </th>
      <th>
        Type
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |event| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(event.id, dashboard_event_path(event)) %>
        </td>
        <td>
           <%= external_link_to(event.type, polymorphic_path([:dashboard, event.eventable])) %>
        </td>
        <td>
          <%= local_time(event.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
