on: push
name: Build Twilreapi

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      PGHOST: localhost
      PGUSER: postgres
      RAILS_ENV: test
      CI: true

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache ruby gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-twilreapi-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-twilreapi-

      - name: Get yarn cache directory
        id: get-yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.get-yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-twilreapi-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-twilreapi-

      - name: Install dependencies
        run: |
          sudo apt-get -yqq install libpq-dev
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          yarn install

      - name: Setup DB
        run: bundle exec rails db:create db:schema:load

      - name: Run Specs
        run: |
          bundle exec rspec --format RspecApiDocumentation::ApiFormatter

      - name: Upload Test Coverage
        working-directory: ${{ env.working-directory }}
        continue-on-error: true
        env:
          CODACY_PROJECT_TOKEN: "${{ secrets.CODACY_PROJECT_TOKEN }}"
        run: |
          curl -Ls -o codacy-coverage-reporter "$(curl -Ls https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r '.assets | map({name, browser_download_url} | select(.name | contains("codacy-coverage-reporter-linux"))) | .[0].browser_download_url')"
          chmod +x codacy-coverage-reporter
          ./codacy-coverage-reporter report -l Ruby -r coverage/lcov/*

      - name: Prepare Documentation Source
        if: github.ref == 'refs/heads/master'
        run: |
          cp -R doc/slate/source/* doc/api
          cp app/assets/images/logo.png doc/api/logo.png

      - name: Upload Documentation Source
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v1
        with:
          name: documentation_source
          path: doc/api

      - name: Compile Assets
        if: github.ref == 'refs/heads/master'
        env:
          RAILS_ENV: development
        run: |
          bundle exec rails assets:precompile

      - name: Upload Assets
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v1
        with:
          name: assets
          path: public

  build_documentation:
    name: Build Documentation
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - name: Checkout Slate
        uses: actions/checkout@v2.3.4
        with:
          ref: main
          repository: slatedocs/slate

      - name: Cache Slate Dependencies
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-slate-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-slate-gem-

      - name: Install Slate Dependencies
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install

      - name: Download Documentation Source
        uses: actions/download-artifact@v1
        with:
          name: documentation_source
          path: source

      - name: Prepare Slate
        run: |
          echo "@import 'overrides';" >> source/stylesheets/_variables.scss

      - name: Build API Documentation
        run: bundle exec middleman build

      - name: Upload API Documentation
        uses: actions/upload-artifact@v1
        with:
          name: api_documentation
          path: build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-skip-session-tagging: true
          role-duration-seconds: 3600
          aws-region: ap-southeast-1

      - name: Deploy API Documentation
        run: aws s3 sync --acl public-read --delete build s3://www.somleng.org/docs/twilreapi

      - name: Invalidate Cache
        run: aws cloudfront create-invalidation --distribution-id E3962XCJFZ0KB1 --paths /docs/twilreapi/\*

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'

    strategy:
      matrix:
        app_env:
          - { identifier: 'twilreapi', name: 'production', branch: 'refs/heads/master' }

    steps:
      - name: Checkout
        if: github.ref == matrix.app_env.branch
        uses: actions/checkout@v2.3.4

      - name: Setup Ruby
        if: github.ref == matrix.app_env.branch
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - name: Download Assets
        if: github.ref == matrix.app_env.branch
        uses: actions/download-artifact@v1
        with:
          name: assets
          path: public

      - name: Configure AWS credentials
        if: github.ref == matrix.app_env.branch
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-skip-session-tagging: true
          role-duration-seconds: 3600
          aws-region: ap-southeast-1

      - name: Login to Amazon ECR
        if: github.ref == matrix.app_env.branch
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        if: github.ref == matrix.app_env.branch
        id: build-image
        env:
          APP_ECR_REPOSITORY: twilreapi
          NGINX_ECR_REPOSITORY: twilreapi-nginx
          IMAGE_TAG: ${{ github.sha }}
          AWS_REGION: us-east-1
        run: |
          cp -R public/* docker/nginx/public

          ECR_PUBLIC_REGISTRY=$(aws ecr-public describe-registries --output text --query 'registries[0].registryUri')
          aws ecr-public get-login-password | docker login --username AWS --password-stdin public.ecr.aws

          docker build -t $ECR_PUBLIC_REGISTRY/$NGINX_ECR_REPOSITORY:$IMAGE_TAG -t $ECR_PUBLIC_REGISTRY/$NGINX_ECR_REPOSITORY:latest docker/nginx
          docker push --all-tags $ECR_PUBLIC_REGISTRY/$NGINX_ECR_REPOSITORY
          echo "::set-output name=nginx-image::$ECR_PUBLIC_REGISTRY/$NGINX_ECR_REPOSITORY:$IMAGE_TAG"

          docker build -t $ECR_PUBLIC_REGISTRY/$APP_ECR_REPOSITORY:$IMAGE_TAG -t $ECR_PUBLIC_REGISTRY/$APP_ECR_REPOSITORY:latest .
          docker push --all-tags $ECR_PUBLIC_REGISTRY/$APP_ECR_REPOSITORY
          echo "::set-output name=app-image::$ECR_PUBLIC_REGISTRY/$APP_ECR_REPOSITORY:$IMAGE_TAG"

      - name: Prepare nginx task definition
        if: github.ref == matrix.app_env.branch
        id: render-nginx-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: deploy/${{ matrix.app_env.name }}/appserver_task_definition.json
          container-name: nginx
          image: ${{ steps.build-image.outputs.nginx-image }}

      - name: Prepare app server task definition
        if: github.ref == matrix.app_env.branch
        id: render-appserver-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ steps.render-nginx-task-def.outputs.task-definition }}
          container-name: app
          image: ${{ steps.build-image.outputs.app-image }}

      - name: Prepare worker task definition
        if: github.ref == matrix.app_env.branch
        id: render-worker-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: deploy/${{ matrix.app_env.name }}/worker_task_definition.json
          container-name: worker
          image: ${{ steps.build-image.outputs.app-image }}

      - name: Run DB Migrate
        if: github.ref == matrix.app_env.branch
        run: |
          aws ecs register-task-definition --cli-input-json file://${{ steps.render-worker-task-def.outputs.task-definition }}
          ./bin/ecs_run_task --cluster somleng --started-by db_migrate_ci --service ${{ matrix.app_env.identifier }}-worker --command "bundle exec rails db:migrate"

      - name: Deploy App Server
        if: github.ref == matrix.app_env.branch
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render-appserver-task-def.outputs.task-definition }}
          service: ${{ matrix.app_env.identifier }}-appserver
          cluster: somleng
          wait-for-service-stability: true
          codedeploy-appspec: deploy/appspec.yaml
          codedeploy-application: ${{ matrix.app_env.identifier }}
          codedeploy-deployment-group: ${{ matrix.app_env.identifier }}

      - name: Deploy Worker
        if: github.ref == matrix.app_env.branch
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render-worker-task-def.outputs.task-definition }}
          service: ${{ matrix.app_env.identifier }}-worker
          cluster: somleng
          wait-for-service-stability: true
